POSTGRES_DB=royal_game
POSTGRES_USER=royal
POSTGRES_PASSWORD=royal_dev
POSTGRES_PORT=5433
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
JWT_SECRET=CHANGE_ME_IN_REAL_ENVIRONMENT_MINIMUM_32_CHARS
YOUTUBE_API_KEY=
